<a href="https://colab.research.google.com/github/Akshitha1330/B20_1330/blob/main/LAB-05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#detecting missing values
import pandas as pd
import numpy as np
#creating dataset with missing values
data={'Name':['Ravi','Neha','Kiran','Sita'],
      'Age':[25,np.nan,30,28],
      'Marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("Original Dataframe")
print(df)
#Detect missing values
print("\n Check for Missing Values:")
print(df.isnull())

Original Dataframe
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

 Check for Missing Values:
    Name    Age  Marks
0  False  False  False
1  False   True  False
2  False  False   True
3  False  False  False

In [14]:
#droping missing values
print("\n Drop Missing Values:")
print(df.dropna())

 Drop Missing Values:
   Name   Age  Marks
0  Ravi  25.0   85.0
3  Sita  28.0   92.0

In [17]:
data={'Name':['Ravi','Neha','Kiran','Sita'],
      'Age':[25,np.nan,30,28],
      'Marks':[85,90,np.nan,92]}
df=pd.DataFrame(data)
print("Original Dataframe")
print(df)
#filling missing values with 0
print("\n Fill Missing Values:")
print(df.fillna(0))

Original Dataframe
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   NaN   90.0
2  Kiran  30.0    NaN
3   Sita  28.0   92.0

 Fill Missing Values:
    Name   Age  Marks
0   Ravi  25.0   85.0
1   Neha   0.0   90.0
2  Kiran  30.0    0.0
3   Sita  28.0   92.0

In [19]:
print("\n Fill Missing Values with Mean:")
df['Age']=df['Age'].fillna(df['Age'].mean())
print(df['Age'])
df['Marks']=df['Marks'].fillna(df['Marks'].mean())
print(df['Marks'])
print(df)

 Fill Missing Values with Mean:
0    25.000000
1    27.666667
2    30.000000
3    28.000000
Name: Age, dtype: float64
0    85.0
1    90.0
2    89.0
3    92.0
Name: Marks, dtype: float64
    Name        Age  Marks
0   Ravi  25.000000   85.0
1   Neha  27.666667   90.0
2  Kiran  30.000000   89.0
3   Sita  28.000000   92.0

In [22]:
#removing duplicates
data={'name':['ravi','neha','kiran','sita','ravi'],
      'age':[25,25,30,28,25],
      'marks':[85,90,90,92,90]}
df=pd.DataFrame(data)
print("original dataframe")
print(df)
#removing duplicates
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('age')
print(df_no_duplicates)
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('name')
print(df_no_duplicates)
print("after removing duplicates")
df_no_duplicates=df.drop_duplicates('marks')
print(df_no_duplicates)

original dataframe
    name  age  marks
0   ravi   25     85
1   neha   25     90
2  kiran   30     90
3   sita   28     92
4   ravi   25     90
after removing duplicates
    name  age  marks
0   ravi   25     85
2  kiran   30     90
3   sita   28     92
after removing duplicates
    name  age  marks
0   ravi   25     85
1   neha   25     90
2  kiran   30     90
3   sita   28     92
after removing duplicates
   name  age  marks
0  ravi   25     85
1  neha   25     90
3  sita   28     92

In [25]:
#changing data types
data={'ID':['1','2','3','4'],
      'Marks':['85','90','92','95']}
df=pd.DataFrame(data)
print("original dataframe")
print(df.dtypes)
#convert to numeric
df['ID']=pd.to_numeric(df['ID'])
df['Marks']=pd.to_numeric(df['Marks'])
print("after converting data types")
print(df.dtypes)
#converting into float
df['ID']=df['ID'].astype(float)
df['Marks']=df['Marks'].astype(float)
print(df.dtypes)

original dataframe
ID       object
Marks    object
dtype: object
after converting data types
ID       int64
Marks    int64
dtype: object
ID       float64
Marks    float64
dtype: object

In [26]:
#Applying functions
df['Marks']=df['Marks'].apply(lambda x:x+5)
print("After adding bonus Marks:")
print(df)

After adding bonus Marks:
    ID  Marks
0  1.0   90.0
1  2.0   95.0
2  3.0   97.0
3  4.0  100.0

In [28]:
#normalization
df['Marks']=df['Marks']/df['Marks'].max()
print("After normalization:")
print(df)
df['Marks_Normalized'] = (df['Marks'] - df['Marks'].min()) / (df['Marks'].max() - df['Marks'].min())
print("Normalized Marks:")
print(df)

After normalization:
    ID  Marks
0  1.0   0.90
1  2.0   0.95
2  3.0   0.97
3  4.0   1.00
Normalized Marks:
    ID  Marks  Marks_Normalized
0  1.0   0.90               0.0
1  2.0   0.95               0.5
2  3.0   0.97               0.7
3  4.0   1.00               1.0

In [30]:
#simple merge
import pandas as pd
# Student Data
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
})
# Marks Data
marks = pd.DataFrame({
'Student_ID': [101, 102, 103, 105],
'Marks': [85, 90, 78, 88]})
# Merge on Student_ID
merged_df = pd.merge(students, marks, on='Student_ID')
print("Merged DataFrame:")
print(merged_df)
# INNER JOIN (default)
inner = pd.merge(students, marks, on='Student_ID', how='inner')
print("Inner Join:\n", inner)
# LEFT JOIN
left = pd.merge(students, marks, on='Student_ID', how='left')
print("\nLeft Join:\n", left)
# RIGHT JOIN
right = pd.merge(students, marks, on='Student_ID', how='right')
print("\nRight Join:\n", right)
# OUTER JOIN
outer = pd.merge(students, marks, on='Student_ID', how='outer')
print("\nOuter Join:\n", outer)

Merged DataFrame:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
Inner Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

Left Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

Right Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

Outer Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

In [31]:
#using join()
# Student Details (index = Student_ID)
students = pd.DataFrame({
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
}, index=[101, 102, 103, 104])
# Marks Data (index = Student_ID)
marks = pd.DataFrame({
'Marks': [85, 90, 78, 88]
}, index=[101, 102, 103, 105])
#Join based on index
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [32]:
data={'patient_id':[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20],'Age':[-5,234,43,54,21,33,19,190,23,-8,55,-89,88,56,77,5,8,-99,888,200]}
df=pd.DataFrame(data)
print("original data")
print(df)

original data
    patient_id  Age
0            1   -5
1            2  234
2            3   43
3            4   54
4            5   21
5            6   33
6            7   19
7            8  190
8            9   23
9           10   -8
10          11   55
11          12  -89
12          13   88
13          14   56
14          15   77
15          16    5
16          17    8
17          18  -99
18          19  888
19          20  200

In [33]:
invalid_ages=df[(df['Age'] < 0 )| (df['Age'] > 120)]
print("invalid ages")
print(invalid_ages)

invalid ages
    patient_id  Age
0            1   -5
1            2  234
7            8  190
9           10   -8
11          12  -89
17          18  -99
18          19  888
19          20  200

In [34]:
invalid_ages=df[df['Age']>0 & (df['Age']<120)]

print("cleaned data")
print(invalid_ages)

cleaned data
    patient_id  Age
1            2  234
2            3   43
3            4   54
4            5   21
5            6   33
6            7   19
7            8  190
8            9   23
10          11   55
12          13   88
13          14   56
14          15   77
15          16    5
16          17    8
18          19  888
19          20  200

In [35]:
import pandas as pd
data = {
    "Patient_ID": [1, 2, 3, 4, 5, 6, 7],
    "Age": [25, 34, -5, 130, 45, 120, 200]  # contains invalid ages
}
df = pd.DataFrame(data)
print("Original Dataset")
print(df)
#condition: Age < 0 or Age > 120
outliers = df[(df["Age"] < 0) | (df["Age"] > 120)]
print("\nDetected Outliers")
print(outliers)
df_cleaned = df[(df["Age"] >= 0) & (df["Age"] <= 120)]
print("\nCleaned Dataset")
print(df_cleaned)

Original Dataset
   Patient_ID  Age
0           1   25
1           2   34
2           3   -5
3           4  130
4           5   45
5           6  120
6           7  200

Detected Outliers
   Patient_ID  Age
2           3   -5
3           4  130
6           7  200

Cleaned Dataset
   Patient_ID  Age
0           1   25
1           2   34
4           5   45
5           6  120