<a href="https://colab.research.google.com/github/Akshitha1330/B20_1330/blob/main/LAB-04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
#creating a series from a list
data=[10,20,30,40,50]
series=pd.Series(data)
print("Pandas Series")
print(series)

Pandas Series
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [5]:
#series with custom index
import pandas as pd
data=[10,20,30,40,50]
index_labels=['a','b','c','d','e']
series=pd.Series(data,index=index_labels)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [25]:
import pandas as pd
#creating a dataframe
data={'Name':["cse","aiml","ds"],'Age':[20,40,22],'City':["wgl","hyd","kol"]}
result=pd.DataFrame(data)
print(result)

   Name  Age City
0   cse   20  wgl
1  aiml   40  hyd
2    ds   22  kol

In [26]:
# Access a single column
print(result['Name'])

0     cse
1    aiml
2      ds
Name: Name, dtype: object

In [15]:
# Access multiple columns
print(result[['Name', 'City']])

   Name City
0   cse  wgl
1  aiml  hyd
2    ds  kol

In [27]:
# Access rows using index
print(result.iloc[1]) # row at index 1
print(result.loc[2]) # row with label 2

Name    aiml
Age       40
City     hyd
Name: 1, dtype: object
Name     ds
Age      22
City    kol
Name: 2, dtype: object

In [28]:
# Adding a new column
result['Salary'] = [40000,50000,60000]
print(result)

   Name  Age City  Salary
0   cse   20  wgl   40000
1  aiml   40  hyd   50000
2    ds   22  kol   60000

In [29]:
# Removing a column
result=result.drop('City', axis=1)
print(result)

   Name  Age  Salary
0   cse   20   40000
1  aiml   40   50000
2    ds   22   60000

In [30]:
# Filtering Data
#select rows where Age > 30
print(result[result['Age'] > 30])

   Name  Age  Salary
1  aiml   40   50000

In [31]:
# Basic Statistics
print(result['Age'].mean()) # Average age
print(result['Age'].max()) # Maximum age
print(result['Age'].min()) # Minimum age

27.333333333333332
40
20

In [43]:
#Real-world example_student data
import pandas as pd
#creating a DataFrame with student details
student_data={'Student_ID':[101,102,103,104],'Name':['Ravi','Neha','Kiran','Sita'],'Marks':[85,90,78,92],'Department':['CSE','ECE','CSE','AIML']}
df=pd.DataFrame(student_data)
print(df)

#display full dataframe
print("Student Data")
print(df)

#Find students with marks > 80
print("\nStudents with marks > 80")
print(df[df['Marks']>80])

#average marks
print("\nAverage Marks")
print(df['Marks'].mean())

#Add new column
df['Result'] = ['Pass' if x >= 40 else 'Fail' for x in df['Marks']]
print("\nWith Result Column:")
print(df)

   Student_ID   Name  Marks Department
0         101   Ravi     85        CSE
1         102   Neha     90        ECE
2         103  Kiran     78        CSE
3         104   Sita     92       AIML
Student Data
   Student_ID   Name  Marks Department
0         101   Ravi     85        CSE
1         102   Neha     90        ECE
2         103  Kiran     78        CSE
3         104   Sita     92       AIML

Students with marks > 80
   Student_ID  Name  Marks Department
0         101  Ravi     85        CSE
1         102  Neha     90        ECE
3         104  Sita     92       AIML

Average Marks
86.25

With Result Column:
   Student_ID   Name  Marks Department Result
0         101   Ravi     85        CSE   Pass
1         102   Neha     90        ECE   Pass
2         103  Kiran     78        CSE   Pass
3         104   Sita     92       AIML   Pass

In [48]:
import pandas as pd
student_data={'S.Name':['CSE','ECE','CSE','AIML'],'S.Rollno':['1330','1320','1321','1711'],'M1':[85,90,78,92],'M2':[79,94,69,88],'M3':[82,79,91,89]}
df=pd.DataFrame(student_data)
print(df)

df['Total'] = df[['M1','M2','M3']].sum(axis=1)
df['Average'] = df[['M1','M2','M3']].mean(axis=1)
print(df)

  S.Name S.Rollno  M1  M2  M3
0    CSE     1330  85  79  82
1    ECE     1320  90  94  79
2    CSE     1321  78  69  91
3   AIML     1711  92  88  89
  S.Name S.Rollno  M1  M2  M3  Total    Average
0    CSE     1330  85  79  82    246  82.000000
1    ECE     1320  90  94  79    263  87.666667
2    CSE     1321  78  69  91    238  79.333333
3   AIML     1711  92  88  89    269  89.666667